.answer-buttons-container {
    display: flex;
    flex-direction: column;
}

.button-style {
    height: 3rem;
    max-width: 100%;
    margin-bottom: 0.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.button-style:hover {
    background-color: #EEE6CE !important; 
}