@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.home-container { 
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    background-size:cover;
    background-position: center;
    background-color: #313552;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quiz-text {
    color: #FFFDFA;
    font-size: 7rem;
    font-family: 'Poppins', sans-serif;
}

.brain-icon-container {
    margin-bottom: 3rem;
}

.brain-icon {
    color: #FFFDFA;
    font-size: 6rem;    
}

.language-select-container {
    display: flex; 
    justify-content: center;
}

.language-select-container > div {
    display: flex;
    align-items: center;
}

.english-lang-container {
    padding-right: 2rem;
}

.english-flag-png, .hungarian-flag-png {
    width: 5rem; 
    height: auto;
}

.radio-button {
    margin-top: -3rem !important;
}

.button-container {
    margin-top: 2rem; 
}

.start-button {
    height: 4rem;
    width: 10rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #FFFDFA;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

.start-button:hover {
    background-color: #EEE6CE;
}

/*
@media (max-width: 600px) {

}
*/
