.counter-and-timer-container {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.question-counter-container,
.question-timer-container {
    font-family: 'Poppins', sans-serif;
}
