@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quiz-page { 
    min-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-size:cover;
    background-color: #313552;
}

.result-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.quiz-game-container { 
    width: 500px; 
    border-radius: 1rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    background-color: #FFFDFA;
}


@media (max-width: 600px) {

    .quiz-page { 
        background-color: #FFFDFA;
    }

}


