.final-text{
    text-align: center;
    color: #FFFDFA;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

.back-to-home-button {
    height: 5rem;
    width: 10rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #FFFDFA;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.back-to-home-button:hover {
    background-color: #EEE6CE;
}