.score-text, .performance-text {
    margin-bottom: 2rem;
    text-align: center;
    color: #FFFDFA;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

.back-to-home-button-container {
    display: flex;
    justify-content: center;
}

.back-to-home-button {
    padding: 15px;
    border: none;
    border-radius: 0.5rem;
    background-color: #FFFDFA;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.back-to-home-button:hover {
    background-color: #EEE6CE;
}